.col-gap-1 {
    margin-right: 5px
}
.col-gap-2 {
    margin-left: 5px
}
.row-gap {
    padding-bottom: 5px;
    padding-top: 5px
}
.about-container, .form-container {
    padding: 10px;
}

.form-container {
    margin-left: 20%;
    margin-right: 20%;
}

.social {
    margin-right: 3%;
    margin-left: 3%
}

.lg-spacing {
    margin-top: 5%
}
.ft-spacing {
    margin-top: 2%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px
}